h1 {
    text-align: center;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px #ccc;
    transition: all 0.3s ease;
}

h1:hover {
    box-shadow: 0 0 5px #ccc;
    transform: scale(1.1);
}

.btn {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

.btn:hover {
    box-shadow: 0 0 5px red;
}

a {
    color: black;
    
    transition: all 0.3s ease;
    
}

a:hover {
    box-shadow: 0 0 5px #ccc;
    transform: scale(1.1);
    color: rgb(59, 206, 255);
}

input {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px #ccc;
}

input:hover {
    box-shadow: 0 0 5px #ccc;
}

