* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom right, #984D38, #181E41 35%) no-repeat;
    font-family: "Playfair Display", serif;
    color: white;
    line-height: 1.6;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    font-family: "Poppins", sans-serif;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cercle {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid white;
    font-size: 12px;
}

.btn1 {
    padding: 8px 20px;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    cursor: pointer;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: center;
}

.navbar h1{
    font-size: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 12px;
}

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 0 0 0;
}

.nom {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 5px;
}

.description {
    font-size: 15px;
    opacity: 50%;
    margin-bottom: 30px;
}

.image {
    width: 300px;
    height: 400px;
    overflow: hidden;
    border-radius: 160px 160px 0 0;
    display: flex;
    justify-content: center;
}

.image img {
    height: 100%;
    object-fit: cover;
}

.link {
    display: flex;
    background-color: black;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    height: 130px;
    margin-top: -90px;
    position: relative;
    z-index: 10;
}

.link img{
    height: 30px;
}

.parent2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 10%;
    gap: 80px;
}

.parent2 .left img {
    height: 450px;
    width: 350px;
    background-color: white;
    border-radius: 0% 50% 50% 50%;
}

.parent2 .right {
    max-width: 500px;
}

.parent2 .right h2 {
    font-family: "Playfair Display", serif;
    font-size: 32px;
    margin-bottom: 20px;
}

.parent2 .right p {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    opacity: 0.7;
}

.service {
    display: flex;
    padding: 80px 10%;
    gap: 50px;
    align-items: flex-start;
}

.service-left { 
    flex: 1;
}

.service-right { 
    flex: 1; 
    display: flex; 
    flex-direction: column; 
    gap: 20px; 
}



.info h2{
    font-size: 30px;
    padding-left: 5px;
    padding-bottom: 20px;
    padding-top: 30px;
}

.info p{
    font-size: 15px;
    opacity: 50%;
}

.stats {
    display: flex;
    gap: 40px;
    margin-top: 30px;
}

.card {
    display: flex;
    align-items: center;
    padding: 25px;
    border-radius: 15px;
    gap: 20px;
}

.projet p:first-child {
    font-size: 25px;
    font-family: "Playfair Display", serif;
}

.card-ui { 
    background-color: rgba(255,255,255,50%); 
    color: black;
}

.card-web { 
    background-color: rgba(255,255,255,100%); 
    color: black; 
}

.card-marketing { 
    background-color: rgba(255,255,255,50%); 
    color: black;
}

.icon {
    font-size: 24px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.i1{
    background-color: #F0C149;
}

.i2{
    background-color: #286F6C;
}

.i3{
    background-color: #F26440;
}

.emplacement-barre{
    display: flex;
    justify-content: center;
}

.barre{
    height: 2px;
    width: 80%;
    background-color: #FFFFFF;
    opacity: 50%;
}

.parent3{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 10%;
    flex-direction: column;
    gap: 15px;
    font-family: "Playfair Display", serif;
    font-weight: normal;
}

.parent3 button{
    border: solid 1px white;
    background-color: transparent;
    color: white;
    cursor: pointer;
    padding: 8px 10px;
}

.parent3 button img{
    height: 10px;
    margin-right: 5px;
}






.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}

.social {
    display: flex;
    gap: 20px;
}

.twitter{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: #ffffff50;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.medium2{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: #ffffff50;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.linkedin2{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: #ffffff50;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.dribbble{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: #ffffff50;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}