body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 5px 20px 5px 20px;
}

.logo {
    font-weight: bold;
    padding: 0px 20px;
}

.logo:hover {
    color: lightgray;
    scale: 1.1;
    transition: all 0.3s ease;
}

.btn1 {
    padding: 10px 20px;
    background-color: grey;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn1:hover {
    background-color: lightgray;
    scale: 1.1;
    transition: all 0.3s ease;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
}

.navbar ul li:hover {
    scale: 1.1;
}

.navbar ul li a:hover {
    color: lightgray;
}

.parent {
    display: flex;
    justify-content: center;
    height: 70vh;
}

.produit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.btnPanier {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: grey;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btnPanier:hover {
    background-color: lightgray;
    scale: 1.1;
    transition: 0.3s;
}

.un{
    background-color: lightblue;
}

.deux{
    background-color: lightyellow;
}

.trois{
    background-color: lightgreen;
}

.quatre{
    background-color: lightcoral;
}